:root {
  --steel-blue: #335c7a;
  --grey-blue: #233849;
  --black: #10171d;
  --yellow: #f3bc3d;
  --white: #e8f5fb;
  --grey: #c8d4e2;
  --light-brown: #cb986b;
  --brown: #6e4835;
  /* color variables chosen from kestrel.jpg */
}

* {
  font-family: "PT Sans", sans-serif;
  margin: 0 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  background-color: var(--black);
  flex-direction: column;
  color: var(--white);
}

header {
  display: flex;
  background-color: var(--steel-blue);
  width: 100%;
  height: 75px;
  text-align: center;
  position: fixed;
}

header h1 {
  margin: 20px 50px;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.full-body {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: row;
}

nav {
  display: flex;
  width: 20%;
  height: 100%;
  background-color: var(--steel-blue);
  z-index: 1;
  top: 0;
  bottom: 0;
  position: fixed;
  flex-direction: column;
  text-align: left;
}

#profile-img {
  height: 30vw;
  width: 19.6vw;
  background-image: url("./profile.jpg");
  background-size: cover;
}

.content {
  margin: 100px 5% 50px 25%;
  font-size: larger;
}

.content h2 {
  margin: 15px 0px 15px -40px;
  color: var(--light-brown);
  font-family: "Montserrat", sans-serif;
}

nav h2 a {
  text-decoration: none;
  font-size: 30px;
  margin: 50px 10px 10px 10px;
  color: var(--yellow);
}

.project-items {
  color: var(--grey);
  font-weight: bold;
  height: 75px;
  width: 75%;
  background-color: var(--grey);
  margin: 10px;
  background-image: url("./pexels-suzy-hazelwood-1762973.jpg");
  /* Photo by Suzy Hazelwood from Pexels */
}

.project-items h3 {
  color: var(--yellow);
  padding: 10px 10px 0px 10px;
}

.project-items p {
  padding: 0 10px 10px 10px;
}

.project-items:hover {
  transform: scale(1.2);
  margin-left: 10%;
}

#project1 {
  background-image: url("./pexels-suzy-hazelwood-1629236.jpg");
  /* Photo by Suzy Hazelwood from Pexels */
  height: 150px;
}

#project1:hover {
  margin-bottom: 20px;
}

#contact-me {
  display: flex;
  flex-direction: column;
}

#contact-me ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--grey);
  color: var(--grey-blue);
}

#contact-me ul li a {
  color: var(--grey-blue);
}

/* Media Rules for smaller than tablet */
@media only screen and (max-width: 850px) {
  header h1 {
    display: none;
  }

  nav {
    display: flex;
    width: 100%;
    height: 0%;
    padding-top: 05%;
    background-color: var(--steel-blue);
    position: fixed;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
  }

  #profile-img {
    background-image: none;
    height: 0;
    width: 0;
  }

  .content {
    margin: 100px 5% 50px 5%;
    font-size: larger;
  }

  .content h2 {
    margin-left: 0;
  }
}
